﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model ERP.Web.ViewModels.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ERP System - Login</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--basic styles-->
    <link href="../../Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
		  <link rel="stylesheet" href="../../Content/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!--ace styles-->
    <link rel="stylesheet" href="../../Content/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../Content/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="../../Content/assets/css/ace-skins.min.css" />
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="../../Content/assets/css/ace-ie.min.css" />
		<![endif]-->
    <!--inline styles related to this page-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="login-layout">
    <div class="main-container container-fluid">
        <div class="main-content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="login-container">
                        <div class="row-fluid">
                            <div class="center" style="font-size: 20px; margin-top:15px">
                                <i class="icon-leaf green"></i>
                                <span class="white">
                                   <b> Sales Force Automation </b>
                                </span>
                            </div>
                            <div class="center" style="font-size: 16px">
                                <i class="icon-leaf green"></i>
                                <span class="blue">
                                    @Model.SubName
                                </span>
                            </div>
                        </div>
                        <div class="space-6">
                        </div>
                        <div class="row-fluid">
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="social-login center">
                                                <img src="~/Content/assets/images/logos/logo.png"/>
                                            </div>
                                            <h4 class="header blue lighter bigger">
                                                <i class="icon-coffee green"></i>Please Enter Your Login Info
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            @if (@ViewBag.ErrorMsg != null)
                                            {
                                                <h4 class="header red lighter bigger">@ViewBag.ErrorMsg</h4>
                                            }
                                            @using (Html.BeginForm("Validate", "Login", FormMethod.Post))
                                            {
                                                <fieldset>
                                                    <label>
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.TextBoxFor(x => x.UserName, new {@class = "span12", placeholder = "Username"})
                                                            <i class="icon-user"></i></span>
                                                    </label>
                                                    <label>
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.PasswordFor(x => x.Password, new {@class = "span12", placeholder = "Password"})
                                                            <i class="icon-lock"></i></span>
                                                    </label>
                                                    @*<br>
                                                    <label>
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.DropDownListFor(x => x.BranchId, @Model.BranchIdList, "Branch", new {@class = " col-lg-12", placeholder = "Branch"})
                                                            <i class="icon-lock"></i></span>
                                                    </label>*@

                                                    <div class="clearfix">
                                                        <label class="inline">
                                                            <input type="checkbox"/>
                                                            <span class="lbl">Remember Me</span>
                                                        </label>
                                                        <button type="submit" class="width-35 pull-right btn btn-small btn-primary">
                                                            <i class="icon-key"></i>Login
                                                        </button>
                                                    </div>
                                                    <div class="clearfix" style="margin-top:10px">
                                                        <div class="social-login center">
                                                        <img src="~/Content/assets/images/logos/logo1.jpg" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            }
                                            @*<div class="social-or-login center">
													<span class="bigger-110">Or Login Using</span>
												</div>*@

                                        </div>
                                        <!--/widget-main-->
                                        <div class="toolbar clearfix">
                                            <div>
                                                <a href="#" onclick=" show_box('forgot-box'); return false; " class="forgot-password-link">
                                                    <i class="icon-arrow-left"></i>I forgot my password </a>
                                            </div>
                                            <div>
                                                <a href="#" onclick=" show_box('signup-box'); return false; " class="user-signup-link">
                                                    I want to register <i class="icon-arrow-right"></i></a>
                                            </div>

                                        </div>
                                                                                                                    <span class="blue center block" align="center">
                                    &copy; eVision Microsystems (Pvt) Ltd</span>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/login-box-->
                                <div id="forgot-box" class="forgot-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header red lighter bigger">
                                                <i class="icon-key"></i>Retrieve Password
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            <p>
                                                Enter your email and to receive instructions
                                            </p>
                                            <form>
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="span12" placeholder="Email" />
                                                        <i class="icon-envelope"></i></span>
                                                </label>
                                                <div class="clearfix">
                                                    <button onclick="return false;" class="width-35 pull-right btn btn-small btn-danger">
                                                        <i class="icon-lightbulb"></i>Send Me!
                                                    </button>
                                                </div>
                                            </fieldset>
                                            </form>
                                        </div>
                                        <!--/widget-main-->
                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                                Back to login <i class="icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/forgot-box-->
                                <div id="signup-box" class="signup-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="icon-group blue"></i>New User Registration
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            <p>
                                                Enter your details to begin:
                                            </p>
                                            <form />
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="span12" placeholder="Email" />
                                                        <i class="icon-envelope"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="span12" placeholder="Username" />
                                                        <i class="icon-user"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="span12" placeholder="Password" />
                                                        <i class="icon-lock"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="span12" placeholder="Repeat password" />
                                                        <i class="icon-retweet"></i></span>
                                                </label>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="lbl">I accept the <a href="#">User Agreement</a> </span>
                                                </label>
                                                <div class="space-24">
                                                </div>
                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-small">
                                                        <i class="icon-refresh"></i>Reset
                                                    </button>
                                                    <button onclick="return false;" class="width-65 pull-right btn btn-small btn-success">
                                                        Register <i class="icon-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                                <i class="icon-arrow-left"></i>Back to login </a>
                                        </div>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/signup-box-->
                            </div>
                            <!--/position-relative-->
                        </div>
                    </div>
                </div>
                <!--/.span-->
            </div>
            <!--/.row-fluid-->
        </div>
    </div>
    <!--/.main-container-->
    <!--basic scripts-->
    <!--[if !IE]>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if IE]>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <![endif]-->
    <!--[if !IE]>-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../../Content/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>
    <!--<![endif]-->
    <!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='../../Content/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../../Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="../../Content/assets/js/bootstrap.min.js"></script>
    <!--page specific plugin scripts-->
    <!--ace scripts-->
    <script src="../../Content/assets/js/ace-elements.min.js"></script>
    <script src="../../Content/assets/js/ace.min.js"></script>
    <!--inline scripts related to this page-->
<script type="text/javascript">
    function show_box(id) {
        $('.widget-box.visible').removeClass('visible');
        $('#' + id).addClass('visible');
    }
</script>

<script type="text/javascript">
    $('#UserName').val(localStorage.getItem("UserName"));
    $('#BranchId').val(localStorage.getItem("BranchId"));

    $('form').submit(function () {
        localStorage.setItem("UserName", $('#UserName').val());
        localStorage.setItem("BranchId", $('#BranchId').val());
        return true;
    });
</script>

</body>
</html>
