﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model ERP.Web.ViewModels.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@(ERP.Core.Entities.Globals.SysConfigs.PageTitle)</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="dcX8MAxWqsbVk08uQeQzWTyKvBCKVn_-z4h0f2RnMcg" />
    <!--basic styles-->
    <link href="../../Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
          <link rel="stylesheet" href="../../Content/assets/css/font-awesome-ie7.min.css" />
        <![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!--ace styles-->
    <link rel="stylesheet" href="../../Content/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../Content/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="../../Content/assets/css/ace-skins.min.css" />
    <!--[if lte IE 8]>
          <link rel="stylesheet" href="../../Content/assets/css/ace-ie.min.css" />
        <![endif]-->
    <!--inline styles related to this page-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="login-layout" style="background-color:white !important">
    <div class="main-container container-fluid">
        <div class="main-content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="login-container">
                        <div class="space-30">
                        </div>
                        <div class="row-fluid">
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border" style="background-color: #f7f7f7;">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="social-login center">
                                                <img src="~/Content/assets/images/logos/logo.png" />
                                            </div>
                                            <div class="space-12">
                                            </div>
                                            <h4 class="header black bigger" align="center">
                                                Login Info
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            @if (@ViewBag.ErrorMsg != null)
                                            {
                                                <h4 class="header red lighter bigger">@ViewBag.ErrorMsg</h4>
                                            }
                                            @using (Html.BeginForm("Validate", "Login", FormMethod.Post, new { Class = "form-horizontal" }))
                                            {
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        @Html.TextBoxFor(x => x.UserName, new { @class = "col-xs-10 col-sm-12", placeholder = "Username" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        @Html.PasswordFor(x => x.Password, new { @class = "col-xs-10 col-sm-12", placeholder = "Password" })
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <div class="clearfix">
                                                        @if (ERP.Core.Entities.Globals.SysConfigs.EnableAzureADSignIn)
                                                        {
                                                            <img alt="Color icon" src="https://img.icons8.com/color/2x/azure-active-directory.png" style="height:32px;width:32px;" class="pull-left">
                                                            <a href="/ADAuthAccount/SignIn" class="btn btn-link pull-left" style="padding-left: 5px !important;">Login with AD</a>
                                                        }
                                                        <button class="btn btn-sm btn-primary pull-right">
                                                            @*<i class="ace-icon fa fa-arrow-right icon-on-right"></i>*@
                                                            Login

                                                        </button>
                                                    </div>
                                                </fieldset>
                                                <div class="space-20">
                                                </div>
                                            }

                                        </div>
                                        <!--/widget-main-->
                                        <span class="black center block" align="center" style="background-color: #f7f7f7;">
                                            Version @Model.VersionInfo <br>
                                        </span>
                                        <span class="blue center block" align="center" style="background-color: #f7f7f7; padding-bottom:15px">
                                            Powered By eVision Microsystems

                                        </span>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/login-box-->
                            </div>
                            <!--/position-relative-->
                        </div>
                    </div>
                </div>
                <!--/.span-->
            </div>
            <!--/.row-fluid-->
        </div>
    </div>
    <!--/.main-container-->
    <!--basic scripts-->
    <!--[if !IE]>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if IE]>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <![endif]-->
    <!--[if !IE]>-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../../Content/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>
    <!--<![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../../Content/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../../Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="../../Content/assets/js/bootstrap.min.js"></script>
    <!--page specific plugin scripts-->
    <!--ace scripts-->
    <script src="../../Content/assets/js/ace-elements.min.js"></script>
    <script src="../../Content/assets/js/ace.min.js"></script>
    <!--inline scripts related to this page-->
    <script type="text/javascript">
        function show_box(id) {
            $('.widget-box.visible').removeClass('visible');
            $('#' + id).addClass('visible');
        }
    </script>

    <script type="text/javascript">
        $('#UserName').val(localStorage.getItem("UserName"));
        $('#BranchId').val(localStorage.getItem("BranchId"));

        $('form').submit(function () {
            localStorage.setItem("UserName", $('#UserName').val());
            localStorage.setItem("BranchId", $('#BranchId').val());
            return true;
        });
    </script>

</body>
</html>
