﻿
@model IList<ERP.Web.ViewModels.UserRoleListViewModel>

@{
    ViewBag.Path = new[] { "Administration", "UserRole", "List" };
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Search{
    <a class="btn btn-sm btn-success btn-round" href="~/UserRole/Edit"> New
    </a>
}

<div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>

					<td>Name</td>
					<td>IsSuperUser</td>
					<td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {                       
                <tr>
                    <td class="center">@Html.ActionLink(item.Name, "Edit", new { item.Id, edit = 0 })
                    </td>
					<td>@item.IsSuperUser</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons" align="center">
                            <a class="green" href="~/UserRole/Edit?Id=@item.Id&edit=1"><i class="ace-icon fa fa-pencil bigger-130">
                            </i></a>&nbsp; <a id="deleteItem" class="deleteItem red" data-target="#basic" data-toggle="modal" data-id="@item.Id">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i></a>&nbsp;
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title">
                    Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default btn-round">
                    Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-danger btn-round">
                    Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/Content/assets/js/jquery.dataTables.min.js"></script>
    <script src="/Content/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="/Content/assets/js/dataTables.buttons.min.js"></script>
    <script src="/Content/assets/js/buttons.flash.min.js"></script>
    <script src="/Content/assets/js/buttons.html5.min.js"></script>
    <script src="/Content/assets/js/buttons.print.min.js"></script>
    <script src="/Content/assets/js/buttons.colVis.min.js"></script>
    <script src="/Content/assets/js/dataTables.select.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
	debugger;
        jQuery(function ($) {
            //initiate dataTables plugin
            var myTable =
                $('#dynamic-table')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                        bAutoWidth: false,
                        "aoColumns": [
                            null,null, { "bSortable": false }
                        ],
                        "aaSorting": [],


                        //"bProcessing": true,
                        //"bServerSide": true,
                        //"sAjaxSource": "http://127.0.0.1/table.php"	,

                        //,
                        //"sScrollY": "200px",
                        //"bPaginate": false,

                        //"sScrollX": "100%",
                        //"sScrollXInner": "120%",
                        //"bScrollCollapse": true,
                        //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                        //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                        //"iDisplayLength": 50


                        select: {
                            style: 'multi'
                        }
                    });


            //style the message box
            var defaultCopyAction = myTable.button(1).action();
            myTable.button(1).action(function (e, dt, button, config) {
                defaultCopyAction(e, dt, button, config);
                $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
            });


            var defaultColvisAction = myTable.button(0).action();
            myTable.button(0).action(function (e, dt, button, config) {

                defaultColvisAction(e, dt, button, config);


                if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                    $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
                }
                $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
            });

            ////

            setTimeout(function () {
                $($('.tableTools-container')).find('a.dt-button').each(function () {
                    var div = $(this).find(' > div').first();
                    if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                    else $(this).tooltip({ container: 'body', title: $(this).text() });
                });
            }, 500);


            myTable.on('select', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
                }
            });
            myTable.on('deselect', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
                }
            });



            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

	<script type="text/javascript">

		var item_to_delete;
		debugger;
		$(".deleteItem").click(function (e) {
			debugger;
			item_to_delete = $(this).data('id');
		});

		debugger;
		$(function () {
			$('#btnContinueDelete').click(function () {
				debugger;
				window.location = "/UserRole/Delete?id=" + item_to_delete;
			});
		});
	</script>
}


