﻿@{ 


 }						

<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/Dashboard1/Index?userId=@(ERP.Web.Context.Context.UserContext.UserInfo.Id)">Home</a>
							</li>

						@if (ViewBag.Path != null)
                        {
                            for (int i = 0; i < ViewBag.Path.Length - 1; i++)
                            {
                            <li><a href="#">@ViewBag.Path[i]</a> </li>
                            }
                            <li class="active">@ViewBag.Path[ViewBag.Path.Length - 1]</li>
                        }
                        
						</ul><!-- /.breadcrumb -->