﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
        <title>@(ERP.Core.Entities.Globals.SysConfigs.BrandName)</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
   <!-- style>

      .no-js #loader { display: none;  }
      .js #loader { display: block; position: absolute; left: 100px; top: 0; }
      .se-pre-con {
      	position: fixed;
      	left: 0px;
      	top: 0px;
      	width: 100%;
      	height: 100%;
      	z-index: 9999;
      	background: url(/Content/assets/images/Images/Preloader_2.gif) center no-repeat #fff;
       }
   </style>

	    <!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/Content/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/Content/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="/Content/assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/Content/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/Content/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="/Content/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/Content/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/Content/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="/Content/assets/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="/Content/assets/js/html5shiv.min.js"></script>
		<script src="/Content/assets/js/respond.min.js"></script>
		<![endif]-->
	    <script src="/Content/assets/js/jquery-2.1.4.min.js"></script>
         <script>
             $(window).load(function () {
                 $(".se-pre-con").fadeOut("slow"); ;
             });
    </script>
        @RenderSection("Head", false)
	</head>

<body class="no-skin">
<div class="se-pre-con"></div>
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
			    try { ace.settings.loadState('main-container') } catch (e) { }
			</script>
			<div class="main-content">
				<div class="main-content-inner">
					@*<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<div class="nav-search" id="nav-search">
						</div><!-- /.nav-search -->
					</div>*@

					<div class="page-content">

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                @RenderBody()
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		@*<script src="/Content/assets/js/jquery-2.1.4.min.js"></script>*@

		<!-- <![endif]-->

		<!--[if IE]>
<script src="/Content/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
		    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
		</script>
		<script src="/Content/assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="/Content/assets/js/ace-elements.min.js"></script>
		<script src="/Content/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
        @RenderSection("Scripts", required: false)
	</body>
</html>
