﻿			
<div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-100"><span class="blue bolder">@(ERP.Core.Entities.Globals.SysConfigs.FooterText)</span></span>&nbsp;&nbsp;
                        <span class="action-buttons">
                            <img src="~/Content/assets/images/logos/footer_logo_1.png" /> &nbsp;

                            <img src="~/Content/assets/images/logos/footer_logo_2.png" />&nbsp;&nbsp;

                            <img src="~/Content/assets/images/logos/footer_logo_3.png" />
                        </span>
                    </div>
                </div>
</div>