﻿@using ERP
@using ERP.Core.Entities
@using ERP.Web.ViewModels
@{
    SecurityPrivileges priv = null;
    SysConfig config = null;
    if (ERP.Web.Context.Context.UserContext != null)
    {
        priv = ERP.Web.Context.Context.UserContext.SecurityPrivileges;
        //config = ERP.Web.Context.Context.SycConfigs;
    }
    else
    {
        {

            Url.Action("Index", "Login");
        }
    }
}
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler"
                data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span><span class="icon-bar">
            </span><span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand" style="padding-top: 13px !important;">
                <span>
                    @(ERP.Core.Entities.Globals.SysConfigs.BrandName) @(string.IsNullOrEmpty(ERP.Core.Entities.Globals.SysConfigs.CompanyName) ? "" : " - " + ERP.Core.Entities.Globals.SysConfigs.CompanyName)
                </span>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            @{

            }
            <ul class="nav ace-nav">
                <li>
                    <small>
                        <img src="/Content/assets/images/logos/logo.png" height="42" class="dropdown-toggle"
                             style="padding-bottom: 3px" />
                    </small>
                </li>
                <li class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i><span class="badge badge-success">

                        </span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">

                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i>
                        </li>
                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">


                            </ul>
                        </li>
                        <li class="dropdown-footer">
                            <a href="/Announcement/DistributorAnnouncements">
                                See all messages <i class="ace-icon fa fa-arrow-right">
                                </i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="fa fa-user bigger-200"></i><span class="user-info">
                            <small>Welcome,</small>
                            @if (ERP.Web.Context.Context.UserContext != null)
                            {
                                @ERP.Web.Context.Context.UserContext.UserInfo.Username
                            }
                            else
                            {
                                { Url.Action("Index", "Login"); }
                            }
                        </span><i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="~/User/ChangePassword">
                                <i class="ace-icon fa fa-cog"></i>Change Password
                            </a>
                        </li>
                        @*<li><a href="profile.html"><i class="ace-icon fa fa-user"></i>Profile </a></li>*@
                        <li class="divider"></li>
                        <li><a href="~/Login/Index"><i class="ace-icon fa fa-power-off"></i>Logout </a></li>
                    </ul>
                </li>
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        @*<i class="fa fa-home bigger-200"></i>*@<span class="user-info" style="margin-top: 10px !important;">

                        </span><i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    @if (ERP.Web.Context.Context.UserContext.UserInfo.AllowSwitchingBranches)
                    {
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        </ul>


                    }
                    else
                    {
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        </ul>
                    }
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-container -->
</div>
