﻿@using ERP.Core.Entities
@using ERP.Web.ViewModels
@{
    var priv = ERP.Web.Context.Context.UserContext.SecurityPrivileges;
    var user = ERP.Web.Context.Context.UserContext.UserInfo;

    var vm = new MenuViewModel();
    var dashboard = new MainMenuItem("Dashboard", true, "fa-tachometer", "/Dashboard1/Index")
        //.AddSubMenu(new SubMenuItem("Dashboard", "Dashboard1", priv.MainDashboard))
        .AddSubMenu(new SubMenuItem("Target Vs Achievement", "StockDashboard", true, "/AchievementDashboard/Index?userId=" + user.Id, "_blank"))
         .AddSubMenu(new SubMenuItem("SFA Summary", "Dashboard1", true, "/RepSummaryDashboard/Index?userId=" + user.Id, "_blank"))
         .AddSubMenu(new SubMenuItem("Rep Wise Achievement", "Dashboard1", true, "/RepSummaryDashboard/RepwiseTargetAcievement"))
         .AddSubMenu(new SubMenuItem("Rep Sales Details", "Dashboard1", true, "/RepSummaryDashboard/RepWiseSalesDetails"))
         .AddSubMenu(new SubMenuItem("Duty Not Reported Reps", "Dashboard1", true, "/RepSummaryDashboard/DutyNotReportedRepList"))
         .AddSubMenu(new SubMenuItem("Supervisor Sales Summary", "Dashboard1", true, "/RepReport/GlobalIndex?repId=" + user.Id))
         .AddSubMenu(new SubMenuItem("Stock Dashboard", "StockDashboard", true, "/StockDashboard/Index?userId=" + user.Id, "_blank"))
         .AddSubMenu(new SubMenuItem("Volume Wise Achievement", "StockDashboard", true, "/AchievementDashboard/VolumeWiseAchivement?userId=" + user.Id, "_blank"))

         .AddSubMenu(new SubMenuItem("New Dashboard", "Dashboard1", true, "/Dashboard1/MultiDashBoardViewer"));
    vm.AddMainMenu(dashboard);

    var masterData = new MainMenuItem("Master Data", true, "fa-cubes");

    vm.AddMainMenu(masterData);



    var admin = new MainMenuItem("Administration", true, "fa fa-cogs")
.AddSubMenu(new SubMenuItem("Users", "User", true))
.AddSubMenu(new SubMenuItem("User Roles", "UserRole", true));


    admin.AddSubMenu(new SubMenuItem("System Configurations", "System Configurations", user.Role.IsSuperUser, "/SystemConfiguration/Edit"));


    vm.AddMainMenu(admin);


    var reports = new MainMenuItem("Reports", true, "fa fa-bar-chart")
        //.AddSubMenu(new SubMenuItem("Reports", "Reports", true, "/DynamicReporting/Index"))
        .AddSubMenu(new SubMenuItem("Report Tree", "Report Tree", true, "/Report/Treeview"));
    //.AddSubMenu(new SubMenuItem("Upload", "Reports", user.IsEvisionUser, "/DynamicReporting/Upload"))
    //.AddSubMenu(new SubMenuItem("Pivot", "Pivot", true, "/Pivot/Index"));
    vm.AddMainMenu(reports);

    if (ViewBag.Path != null)
    {
        vm.MakeSelection(ViewBag.Path);
    }

}
<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <a class="btn btn-success" href="~/Invoice/Create?typeId=103" title="Add Direct Sales Invoice">
                <i class="ace-icon fa fa-list"></i>
            </a><a class="btn btn-primary" href="~/Invoice/Create?typeId=104"
                   title="Add Sales Invoice"><i class="ace-icon fa fa-book"></i></a><a class="btn btn-warning"
                                                                                       href="~/Payment/Create?type=Sales" title="Add Receipt">
                <i class="ace-icon fa fa-pencil">
                </i>
            </a><a class="btn btn-danger" href="~/Payment/Create?type=Purchase" title="Add Payment">
                <i class="ace-icon fa fa-pencil-square-o"></i>
            </a>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span><span class="btn btn-info"></span><span class="btn btn-warning">
            </span><span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        @foreach (var mainMenu in vm.Menus)
        {
            <li class="@(mainMenu.IsActive ? "active open" : "")">
                <a href="@(string.IsNullOrEmpty(mainMenu.URL) ? "#" : mainMenu.URL)" class="dropdown-toggle">
                    <i class="menu-icon fa @mainMenu.Icon"></i><span class="menu-text">
                        @mainMenu.Text
                    </span><b class="arrow fa fa-angle-down"></b>
                </a><b class="arrow"></b>
                <ul class="submenu">
                    @foreach (var subMenu in mainMenu.SubMenus)
                    {
                        <li class="@(subMenu.IsActive ? "active" : "")">
                            <a href="@subMenu.Url" class="@(subMenu.SubMenus.Count > 0 ? "dropdown-toggle" : "")" target="@subMenu.Target">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @(subMenu.SubMenus.Count > 0 ? @Html.Raw("<b class='arrow fa fa-angle-down'></b>") : @Html.Raw(""))
                                @subMenu.Text
                            </a><b class="arrow"></b>
                            <ul class="submenu">
                                @foreach (var sub2 in subMenu.SubMenus)
                                {

                                    <li class="">
                                        <a href="@sub2.Url">
                                            @*<i class="menu-icon fa fa-caret-right"></i>*@
                                            @sub2.Text
                                        </a><b class="arrow"></b>
                                    </li>

                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
        </i>
    </div>
</div>
