﻿@model ERP.Web.ViewModels.CustomerViewModel

@{
    ViewBag.Path = new[] { "Master Data", "Product", "List" };
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head {
    <link rel="stylesheet" href="/Content/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/Content/assets/css/select2.min.css" />
    <style type="text/css">
        .field-validation-error {
            color: red;
        }
    </style>
}
<span class="red">
    @Html.ValidationSummary()
</span>

<div id="Container">
    @using (@Html.BeginForm("Edit", "Customer", FormMethod.Post, new { Class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Code, new { Class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.Code, new { Class = "col-xs-10 col-sm-12" })
                @Html.ValidationMessageFor(x => x.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Name, new { Class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.Name, new { Class = "col-xs-10 col-sm-12" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Outstanding, new { Class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.Outstanding, new { Class = "col-xs-10 col-sm-12" })
                @Html.ValidationMessageFor(x => x.Outstanding)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">
                <input name="Active" data-val="true" type="checkbox" class="ace" value="true" @(Model.Active ? "checked" : "") />
                <span class="lbl">&nbsp;Active</span>
                <input name="Active" type="hidden" value="false" />
            </label>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.DOB, new { Class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-3">
                <div class="input-group">
                    <input class="form-control date-picker" name="DOB" id="DOB" type="text" data-date-format="dd/mm/yyyy" value="@(Model.DOB == null ? "" : Model.DOB.Value.ToString("dd/MM/yyyy"))">
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(x => x.DOB)
        </div>

        <div class="form-actions center">
            <a class="btn btn-sm btn-danger btn-round" href="~/Customer">Cancel </a>
            <button type="submit" class="btn btn-sm btn-primary btn-round">
                Submit
            </button>
        </div>
    }

</div>

@section Scripts {
    <script src="/Content/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/Content/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        $(".date-picker").datepicker({
            "autoclose": true
        });

        // add indicator to required fields
        jQuery('input,select').each(function () {
            var req = jQuery(this).attr('data-val-required');
            if (undefined != req) {
                var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });

        $('select').select2();
    </script>
}