﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ERP.Web.ViewModels.PasswordViewModel

<script src="../../Content/assets/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Content/assets/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<link href="../../Content/assets/css/validator.css" rel="stylesheet" type="text/css" />
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert @Model.Class" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span
            class="sr-only">Message</span>
        @Model.Message
    </div>
}
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { Class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    <br>
    <br>
    if (Model.IsError)
    {
    <div class="form-group">
        @Html.LabelFor(x => x.CurruntPassword, new { Class = "col-sm-3 control-label no-padding-right" })
        <div class="col-sm-3">
            @Html.PasswordFor(x => x.CurruntPassword, new { Class = "col-xs-10 col-sm-12" })
        </div>
        @Html.ValidationMessageFor(model => model.CurruntPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NewPassword, new { Class = "col-sm-3 control-label no-padding-right" })
        <div class="col-sm-3">
            @Html.PasswordFor(x => x.NewPassword, new { Class = "col-xs-10 col-sm-12" })
        </div>
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmNewPassword, new { Class = "col-sm-3 control-label no-padding-right" })
        <div class="col-sm-3">
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { Class = "col-xs-10 col-sm-12" })
        </div>
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
    </div>
    }

    <div class="form-actions center">
        <a class="btn btn-sm btn-danger btn-round" href="~/DashBoard/Index">Go Back </a>
        @if (Model.IsError)
        {
            <button type="submit" class="btn btn-sm btn-primary btn-round">
                Submit
            </button>
        }
    </div>
}
