﻿@using ERP.Core.Entities
@model ERP.Web.ViewModels.SysConfigListViewModel
@{
    ViewBag.Path = new[] { "Administration", "System Configurations", "Edit" };
    Layout = "../Shared/_Layout.cshtml";
}
@section Head {
    <link rel="stylesheet" href="/Content/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/Content/assets/css/select2.min.css" />
    <link rel="stylesheet" href="/Content/assets/css/sweetalert.css">
    <script src="/Content/assets/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.bootstrap.mobile.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.mobile.all.min.css" />
    <script src="http://kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
    <style type="text/css">
        .field-validation-error
        {
            color: red;
        }
    </style>
}
<span class="red">
    @Html.ValidationSummary()
</span>
<div id="Container">
    @using (@Html.BeginForm("Edit", "SystemConfiguration", FormMethod.Post, new { Class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.FieldNames)
        <h4 class="header green">
            System Configurations</h4>

        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="3">
                                System Configurations
                            </th>
                            <td class="center col-md-3" colspan="1">
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Value.Keys)
                        {
                            var id = item.Replace(" ", "_");
                            <tr>
                                <td colspan="3">
                                    <b>
                                        <p style="color: rgb(11, 182, 215)">@item</p>
                                    </b>
                                </td>
                                <td class="center">
                                    <div class="action-buttons" id="details">
                                        <a class="green bigger-140 show-details-btn" title="Show Details" id="a_@id"><i
                                                                                                                      class="ace-icon fa fa-angle-double-down" id="i_@id">
                                        </i><span class="sr-only">Expand</span> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="detail-row close" id="tr_@id">
                                <td colspan="8">
                                    <div class="table-detail">
                                        <table id="simple-table-report" class="table  table-bordered table-hover">
                                            @foreach (var prop in @Model.Value[item])
                                            {
                                                <tr class="data-row">
                                                    <td class="col-sm-4">
                                                        @prop.EffectiveName
                                                    </td>
                                                    <td class="col-sm-8">
                                                        @if (prop.ValueType == SystemParameterType.INT ||
                                                            prop.ValueType == SystemParameterType.DECIMAL ||
                                                            prop.ValueType == SystemParameterType.INT_LIST ||
                                                            prop.ValueType == SystemParameterType.STRING_LIST ||
                                                            prop.ValueType == SystemParameterType.STRING)
                                                        {
                                                            <input type="text" value="@prop.Value" name="@prop.Name" id="@prop.Name" class="col-sm-12"/>
                                                        }
                                                        else if (prop.ValueType == SystemParameterType.BOOL)
                                                        {
                                                            <div class="radio">
                                                                <label>
                                                                    <input name="form-field-radio" type="checkbox" id="@prop.Name" class="ace" @( prop.Value == "True" ? "checked='checked'" : "")/>
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </div>
                                                        }
                                                        else if (prop.ValueType == SystemParameterType.DATE)
                                                        {
                                                            <div class="input-group">
                                                                <input class="form-control date-picker" name="@prop.Name" id="@prop.Name" type="text" data-date-format="dd/mm/yyyy" value="@(prop.Value)">
                                                                <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="form-actions center">
            <a class="btn btn-sm btn-danger btn-round" href="~/UserRole">Cancel </a>
            <button id="submit" type="submit" class="btn btn-sm btn-primary btn-round">
                Submit
            </button>
        </div>
    }
</div>
@section Scripts {
    <script src="/Content/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/Content/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        $(".date-picker").datepicker({
            "autoclose": true
        });

        // add indicator to required fields
        jQuery('input,select').each(function () {
            var req = jQuery(this).attr('data-val-required');
            if (undefined != req) {
                var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });


        $('#submit').click(function (e) {
            e.preventDefault();

            debugger;
            var fieldValues = "";
            var fieldNameList = $('#FieldNames').val();
            var fields = fieldNameList.split(",");
            var arrayLength = fields.length;
            for (var i = 0; i < arrayLength; i++) {
                if (fields[i] === "")
                    continue;
                var element = $("#" + fields[i]);

                if (element.is(':checkbox')) {
                    var val = element.is(":checked") + "";
                    val = val.substr(0, 1).toUpperCase() + val.substr(1);
                    fieldValues += fields[i] + "`" + val + "~";
                } else
                    fieldValues += fields[i] + "`" + element.val() + "~";
            }
            fieldValues = fieldValues.replace(/~$/, '');


            $.ajax({
                method: 'POST',
                url: '/SystemConfiguration/Save',
                data: "values=" + fieldValues,

                success: function (result) {
                    if (result.Success) {
                        swal({
                            title: "Save Successul",
                            text: "Data saved successfully!",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Ok'
                        },
                                    function () {
                                        window.location.replace('/SystemConfiguration/Edit');
                                    });
                    } else {
                        swal({
                            title: "Error",
                            text: result.Message,
                            type: "error",
                            showCancelButton: false,
                            confirmButtonClass: 'btn-danger',
                            confirmButtonText: 'Ok'
                        });
                    }
                },
                error: function () {
                    swal({
                        title: "Error",
                        text: "Error occurred while processing request!",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonClass: 'btn-danger',
                        confirmButtonText: 'Ok'
                    });
                }
            });
        });


        $('#test').click(function () {
            debugger;
            var fieldValues = "";
            var fieldNameList = $('#FieldNames').val();
            var fields = fieldNameList.split(",");
            var arrayLength = fields.length;
            for (var i = 0; i < arrayLength; i++) {
                if (fields[i] === "")
                    continue;
                var element = $("#" + fields[i]);

                if (element.is(':checkbox')) {
                    var val = element.is(":checked") + "";
                    val = val.substr(0, 1).toUpperCase() + val.substr(1);
                    fieldValues += fields[i] + "`" + val + ",";
                } else
                    fieldValues += fields[i] + "`" + element.val() + ",";
            }
            fieldValues = fieldValues.replace(/,$/, '');
            alert(fieldValues);
        }
        );
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#details a").click(function () {
                debugger;
                var a_id = this.id;

                var id = a_id.replace('a_', '');
                $("#i_" + id).toggleClass("fa-angle-double-up fa-angle-double-down");
                $("#tr_" + id).toggleClass("open close");

            });
        });

    </script>
}
